@model HomeEditViewModel

@{
    ViewData["Title"] = "Edit Question";
}

<h1>Edit Question</h1>


<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="@Model.Question.QuestionText" class="control-label"></label>
                <input asp-for="@Model.Question.QuestionText" class="form-control" />
                <span asp-validation-for="@Model.Question.QuestionText" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.Option1.OptionText" class="control-label"></label>
                <input asp-for="@Model.Option1.OptionText" class="form-control" />
                <input asp-for="@Model.Option1.OptionsId" hidden="hidden" />
                <input asp-for="@Model.Option1.QuestionId" hidden="hidden" />
                <span asp-validation-for="@Model.Option1.OptionText" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.Option2.OptionText" class="control-label"></label>
                <input asp-for="@Model.Option2.OptionText" class="form-control" />
                <input asp-for="@Model.Option2.OptionsId" hidden="hidden" />
                <input asp-for="@Model.Option2.QuestionId" hidden="hidden" />
                <span asp-validation-for="@Model.Option2.OptionText" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.Option3.OptionText" class="control-label"></label>
                <input asp-for="@Model.Option3.OptionText" class="form-control" />
                <input asp-for="@Model.Option3.OptionsId" hidden="hidden" />
                <input asp-for="@Model.Option3.QuestionId" hidden="hidden" />
                <span asp-validation-for="@Model.Option3.OptionText" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.Option4.OptionText" class="control-label"></label>
                <input asp-for="@Model.Option4.OptionText" class="form-control" />
                <input asp-for="@Model.Option4.OptionsId" hidden="hidden" />
                <input asp-for="@Model.Option4.QuestionId" hidden="hidden" />
                <span asp-validation-for="@Model.Option4.OptionText" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.Question.CorrectOption" class="control-label"></label><br />
                @foreach (var option in Model.Options)
                {
                    <input type="radio" asp-for="@Model.Question.CorrectOption" value="@option.Id" /> @option.OptionText<br />                   
                }
                <span asp-validation-for="@Model.Question.CorrectOption" class="text-danger"></span>
            </div>

            <input hidden="hidden" asp-for="@Model.Question.QuestionId"/>
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to Index</a>
</div>